<div class = "main-container">
    <div id = "header">
        <div class = "d-inline">
            <i class="fa fa-cog"></i>
        </div>
        All Tasks
    </div>
    <div class = "content">
        <div class = "add-new-container">
            <input type = "text" placeholder="Add New Todo"/>
            <button class = "btn-addnew">
                Add New
            </button>
        </div>
        
        <app-todo-item *ngFor="let todo of todos" [todo] = "todo"> 

        </app-todo-item>
    </div>
</div>
