
.todo-item{
    display:flex;
    align-items:flex-start;
    margin-bottom:2px;
    padding-top:0px;
    padding-bottom:0px;
    padding-top:15px;
    border-bottom: 1px solid grey  ;
}

.todo-item p{
    position:relative;
    bottom:15px;
    width:90%;
}

.delete{
    height:25px;
    width:25px;
    color:#fff;
    background-color:#4EDC9F;
    text-align:center;
    border-radius:50%;
    vertical-align:baseline;
    padding-top:1px;
   
}

.fa-times{
    display:inline-block;
    margin-top:4px;
}

.delete .fa-check{
    margin-top:4px;
    display:inline-block;
}
.is-complete{
    text-decoration: line-through;
}

.is-complete{
    text-decoration: line-through;
}