
.todo-item{
    display:flex;
    align-items:flex-start;
    margin-bottom:2px;
    padding-top:0px;
    padding-bottom:0px;
    padding-top:5px;
    background-color: #ffffff;
    margin-bottom:8px;
    padding-top:10px;
    padding-bottom:10px;
    border-radius: 15px;
    padding-left:10px;
    padding-right:10px;
    box-shadow: 3px 3px #f2f3f4
}

.todo-item p{
    position:relative;
    width:93%;
    color: #92959a;
}

.delete{
    height:18px;
    width:18px;
    color:#fff;
    background-color:#4EDC9F;
    text-align:center;
    border-radius:50%;
    vertical-align:baseline;
    padding-top:1px;
    font-size: 10px;
   
}

.fa-times{
    display:inline-block;
    margin-top:3px;
}

.delete .fa-check{
    margin-top:3px;
    display:inline-block;
}
.is-complete{
    text-decoration: line-through;
}

.is-complete{
    text-decoration: line-through;
    color:grey;
}

.is_complete_checkbox{
    display: inline;
}
.todo-item p{
    display:inline;
    margin:0px;
    margin-left:5px;
}

